footer {
	background-image: url('../img/yellowe-flowers.jpg'); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	font-size: 12px;
}

footer.page-footer {
	padding-top: 0px;
	font-size: 14px;
}

footer .footer-copyright {
	background-image: url('../img/body.png');
}

footer .tajem-footer {
	background-color: rgba(147, 177, 23, 0.8);
}

footer .tajem-footer .tajem-button
{
	height: 49px;
	width: 49px;
	background-color: rgba(221, 221, 221, 0.4);
	color: rgba(0, 105, 92, 0.8);
	border-color: #ddd;
	padding: 0px;
}

footer .tajem-footer .tajem-button:hover {
	background-color: #FF4800;
	border: 2px solid #FF4800;
	color: white;
}

footer .tajem-footer a {
	color: white;
	margin-right: 10px;
}

footer .tajem-logo {
	color: #c1df4a;
	font-weight: bold;
}

footer h5, footer p {
	color: #ebeaed;
}

footer .tajem-footer a:hover {
	color: #8dede4;
}

footer .input-field input:not([type]),
footer .input-field input[type=text],
footer .input-field input[type=password],
footer .input-field input[type=email],
footer .input-field input[type=url],
footer .input-field input[type=time],
footer .input-field input[type=date],
footer .input-field input[type=datetime],
footer .input-field input[type=datetime-local],
footer .input-field input[type=tel],
footer .input-field input[type=number],
footer .input-field input[type=search],
footer .input-field textarea.materialize-textarea  {
	border: 2px solid #e5e5e5;
	color: white;
	height: 45px;
	width: calc(100% - 76px);
}

.btn-social {
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	border: none;
	display: inline-block;
	height: 32px;
	width: 32px;
	border-radius: 16px;
}

.social-l {
	background-size: 128px 128px;
	height: 128px;
	width: 128px;
	border-radius: 64px;
}

.social-m {
	background-size: 64px 64px;
	height: 64px;
	width: 64px;
	border-radius: 32px;
}

.social-s {
	background-size: 48px 48px;
	height: 48px;
	width: 48px;
	border-radius: 24px;
	cursor: pointer;
}

.btn-facebook {
	background-image: url('../img/facebook_circle_gray.png');
}

.btn-twitter {
	background-image: url('../img/twitter_circle_gray.png');
}

.btn-youtube {
	background-image: url('../img/youtube_circle_gray.png');
}

.btn-instagram {
	background-image: url('../img/instagram_circle_gray.png');
}

.btn-linkedin {
	background-image: url('../img/linkedin_circle_gray.png');
}

.btn-facebook:hover, .btn-twitter:hover, .btn-youtube:hover, .btn-instagram:hover, .btn-linkedin:hover {
	background-color: #FF4800;
}