header {
	background-image: url('../img/yellowe-flowers.jpg'); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	margin-bottom: 20px;
}

header nav {
	background-image: url('../img/body.png');
	box-shadow: none;
}

.tajem-header {
	background-color: rgba(147, 177, 23, 0.8);
}

nav .brand-logo {
	color: white;
}

nav ul li a {
	color: #c1df4a;
}

nav ul li a:hover {
	color: white;
}

.side-nav {
	background-image: url('../img/body.png');
}

.side-nav li a {
	color: #c1df4a;
}

.side-nav li:hover {
	background-color: rgba(147, 177, 23, 0.8);
}

.side-nav li a:hover {
	color: white;
}

.side-nav li:first-child:hover {
	background-color: transparent;
}