header {
	background-image: url('../img/header-background.png'); 
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 20px;
}

header nav {
	box-shadow: none;
	background-color: rgba(51, 51, 51, 0.08);
}

nav .brand-logo {
	color: #00e0d0;
}

nav .nav-wrapper ul:first-child a {
	color: white;
}

nav .nav-wrapper ul:first-child a:hover {
	color: #00e0d0;
}

.side-nav {
	background-color: rgba(0, 105, 92, 0.8);
}

.side-nav li:hover {
	background-color: #00e0d0;
	color: white;
}


.side-nav ul li + div {
	background-color: transparent;
}

.side-nav li a {
	color: white;
}

.tajem-header {
	background-color: rgba(0, 105, 92, 0.8);
}